In [36]:
import numpy as np

z = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
z = z.reshape(-1,1)
print(z)

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]]

In [37]:
z.shape

(12, 1)

In [33]:
z=z.transpose()

In [38]:
import pandas as pd

In [39]:
abc = pd.DataFrame({'a':[1,2,3,4,5,6,7,8,9,10,11,12],'b':[13,14,15,16,2,2,2,2,2,2,2,25]})

In [40]:
abc

     a   b
0    1  13
1    2  14
2    3  15
3    4  16
4    5   2
5    6   2
6    7   2
7    8   2
8    9   2
9   10   2
10  11   2
11  12  25

In [41]:
abc['c']=z

In [42]:
abc

     a   b   c
0    1  13   1
1    2  14   2
2    3  15   3
3    4  16   4
4    5   2   5
5    6   2   6
6    7   2   7
7    8   2   8
8    9   2   9
9   10   2  10
10  11   2  11
11  12  25  12